{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2 min-height-100vh">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4 text-center">Shopping Bag</h2>
                <hr>
            </div>
        </div>      
        {% if bag_items %}
        {% for item in bag_items %}
            <div class="row mb-3">
                <!-- Product Image -->
                <div class="col-12 col-md-3 text-center">
                    {% if item.product.image_url %}
                        <img class="img-fluid rounded" src="{{ item.product.image_url }}" alt="{{ item.product.name }}">
                    {% elif item.product.image %}
                        <img class="img-fluid rounded" src="{{ MEDIA_URL }}{{ item.product.image }}" alt="{{ item.product.name }}">
                    {% else %}
                        <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                    {% endif %}
                </div>
                    <!-- Product Details -->
                    <div class="col-12 col-md-9">
                        <div class="row">
                            <div class="col-12 mt-2 text-center text-md-left">
                                <p><strong>{{ item.product.name }}</strong></p>
                                <p class="small text-muted">SKU: {{ item.product.sku|upper }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 text-center">Price:</div>
                            <div class="col-6 text-center">Subtotal:</div>
                        </div>

                        <div class="row">
                            <div class="col-6 text-center">${{ item.product.price }}</div>
                            <div class="col-6 text-center">${{ item.product.price | calc_subtotal:item.quantity }}</div>
                        </div>

                        <!-- Quantity Input in a Centered Grid -->
                        <div class="row justify-content-center">
                            <div class="col-8 col-sm-6 col-md-4 col-lg-3">
                                <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                    {% csrf_token %}
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <i class="fas fa-minus fa-sm"></i>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                data-item_id="{{ item.item_id }}"
                                                id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <i class="fas fa-plus fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- Update and Remove Buttons -->
                        <div class="row">
                            <div class="col-6 text-center">
                                <a class="update-link text-info"><small>Update</small></a>
                            </div>
                            <div class="col-6 text-center">
                                <a class="remove-item text-danger" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        {% else %}
            <p class="lead mb-5 text-center">Your bag is empty.</p>
            <a href="{% url 'bazaar' %}" class="btn btn-outline-black rounded-0 btn-lg text-center">
                <span class="icon"><i class="fas fa-chevron-left"></i></span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        {% endif %}        
        <!-- Total Calculations -->
        <div class="row">
            <div class="col text-right">
                <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                {% if free_delivery_delta > 0 %}
                    <p class="mb-1 text-danger">
                        You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                    </p>
                {% endif %}
                <a href="{% url 'bazaar' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon"><i class="fas fa-chevron-left"></i></span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                    <span class="text-uppercase">Secure Checkout</span>
                    <span class="icon"><i class="fas fa-lock"></i></span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'bazaar/includes/qty_in_script.html' %}
    {% include 'bag/includes/upd_rmv.html' %}
{% endblock %}
