body {
  /* background-color: #fff3e0; */
    --s: 45px; /* control the size */
    
    --_g: #0000 83%,#fbe7ce 85% 99%,#0000 101%;
    background:
      radial-gradient(27% 29% at right ,var(--_g)) calc(var(--s)/ 2) var(--s),
      radial-gradient(27% 29% at left  ,var(--_g)) calc(var(--s)/-2) var(--s),
      radial-gradient(29% 27% at top   ,var(--_g)) 0 calc(var(--s)/ 2),
      radial-gradient(29% 27% at bottom,var(--_g)) 0 calc(var(--s)/-2)
      #fff3e0;
    background-size: calc(2*var(--s)) calc(2*var(--s));
  /* font-family: 'Alegreya', serif; */
  font-family: 'Eczar', serif;
  font-size: 1rem;
}

.bg-sanddark {
  background-color: #a8742f;
}
.color-sanddark {
  color: #a8742f;
}

.bg-sandlight {
  background-color: #f3c893;
}
.color-sandlight {
  color: #f3c893;
}
.font-size-text {
  font-size: 1.6rem;
}
.font-size-text-md {
  font-size: 1.2rem;
}
html {
  height: 100%;
}

/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}
.custom-search-input {
  width: 300px;
}

.main-logo-link {
  width: fit-content;
}

.shop-now-button {
  background: black;
  color: white;
  min-width: 260px;
}

.btn-black {
  background: black;
  color: white;
}
.btn-outline-black {
  background: white;
  color: black !important; /* use important to override link colors for <a> elements */
  border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
  background: black;
  color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  background: #222;
  color: white;
}

.text-black {
  color: #000 !important;
}

.border-black {
  border: 1px solid black !important;
}

.bg-black {
  background: #000 !important;
}
a.category-badge > span.badge:hover {
  background: #212529 !important;
  color: #fff !important;
}

.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}
/* ------------------------------- bootstrap toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent; 
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}
/* Allauth form formatting */

.allauth-form-inner-content p {
  margin-top: 1.5rem; /* mt-4 */
  color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
  border-color: #000;
  border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
/* btn */
display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  border: 1px solid #000;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;

  /* standard bootstrap btn transitions */
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
color: #fff;
  background-color: #222;
  border-color: #222;
}

.allauth-form-inner-content a {
color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}

.rating-star {
  color: grey;
  cursor: pointer;
  font-size: 24px;
}

.rating-star.selected {
  color: yellow !important; /* Selected stars remain yellow */
  font-size: 24px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* Shadow-based outline */

}

.card-img-top-carousel {
  width: 100%;
  height: 300px; /* Fixed height for images */
  object-fit: cover;
}
.card-body-carousel {
  overflow: hidden; /* Hide text that overflows the card body */
  text-overflow: ellipsis; /* Adds an ellipsis to text that overflows */
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 60%;
    border: 3px solid #000; /* Black border for outline effect */
    border-radius: 50%; /* Circular shape */
    width: 40px; /* Control size */
    height: 40px; /* Control size */
    background-color: #000;
  }

  /* Introductory text section with a Middle Eastern pattern */
.intro-text-section {
  border: 2px solid #a8742f; /* Black border for outline effect */
  --mask: radial-gradient(60px at 60px 60px,#0000 98%,#000) -60px -60px;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  background-color: #fff3e0; /* Fallback background color */
  background-image: url('/static/images/epwaemt1.webp'); /* Middle Eastern pattern */
  background-repeat: repeat; /* Tile the background image */
  padding: 20px; /* Some padding around the text */
}

/* Additional styling to ensure readability over the pattern */
.intro-text-section-text {
  border: 1px solid #a8742f; /* Black border for outline effect */
  background-color: rgba(255, 243, 224, 0.6); /* Semi-transparent layer */
  padding: 5px;
  border-radius: 50px;
}
.shadow-break {
  box-shadow: 
  5px 0 100px rgba(255, 243, 224, 0.8),   /* right shadow */
  -5px 0 100px rgba(255, 243, 224, 0.8),  /* left shadow */
  0 5px 100px rgba(255, 243, 224, 0.8);   /* bottom shadow */}

.amazing-background {
  --s: 60px; /* control the size */
  
  --_g: #fff3e0 83%,#a8742f 85% 99%,##fff3e0 101%;
  background:
    radial-gradient(27% 29% at right ,var(--_g)) calc(var(--s)/ 2) var(--s),
    radial-gradient(27% 29% at left  ,var(--_g)) calc(var(--s)/-2) var(--s),
    radial-gradient(29% 27% at top   ,var(--_g)) 0 calc(var(--s)/ 2),
    radial-gradient(29% 27% at bottom,var(--_g)) 0 calc(var(--s)/-2)
    #fff3e0;
  background-size: calc(2*var(--s)) calc(2*var(--s));
}

.blog-post-image {
  max-height: 300px;
  object-fit: cover;
}

.min-height-100vh {
  min-height: 80vh;
}

#mc_embed_signup {
  background: #a8742f;
  clear: left;
  font: 14px 'Eczar', serif;
  width: 320px;
}
/* -------------------------------- Media Queries */

/* Styles for mobile screens */
@media (max-width: 768px) {
  .max-size-card {
      max-width: 300px; /* Maximum width for mobile */
      min-height: 425px;
      max-height: 425px;
      margin: 0 auto;
  }
  .card-img-top-carousel {
    object-fit: cover;
    min-height: 300px;
    max-height: 300px;
  }
}

/* Styles for desktop screens */
@media (min-width: 769px) {
  .max-size-card {
      max-width: 600px; /* Maximum width for desktop */
      min-height: 800px;
      max-height: 800px;
      margin: 0 auto;
  }
  .card-img-top-carousel {
    object-fit: cover;
    min-height: 600px;
    max-height: 600px;
  }
}
@media (min-width: 1440px) {
  .blog-post-image {
    max-height: 500px;
    object-fit: cover;
  }
}
/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .header-container {
    padding-top: 164px;
  }
}
/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
  .header-container {
      padding-top: 116px;
  }

  body {
      height: calc(100vh - 116px);
  }

  .display-4.logo-font.text-black {
      font-size: 2rem;
  }

  .nav-link {
      padding: 0.15rem;
  }

  .nav-link i.fa-lg {
      font-size: 1rem;
  }

  .navbar-toggler {
      padding: .6rem .6rem;
      font-size: 1rem;
  }

  #delivery-banner h4 {
      font-size: .9rem;
  }

  .btn.btn-outline-black.rounded-0,
  .btn.btn-black.rounded-0 {
      padding: .375rem .375rem;
  }

  .btn.btn-outline-black.rounded-0.btn-lg,
  .btn.btn-black.rounded-0.btn-lg {
      padding: .375rem .375rem;
      font-size: .75rem;
  }

  .increment-qty, .decrement-qty {
      padding: .25rem .5rem !important;
  }
}
